/* Цвета
#2196F3 accent-color

#000000 logo-black

#212121  nav-black

#757575 address-nav-color

#212121 main-title-color
#757575 main-text-color

#FFFFFF backgroung
#F5F4FA secondary-backgroung

#2F303A dark back

rgba(255, 255, 255, 0.6) footer-address-color

Fonts:
Raleway
bold 700

Roboto
font-weight: 500
font-weight: 900
bold 700
normal 400

    font-family: 'Raleway', sans-serif;

    font-family: 'Roboto', sans-serif;

*/

:root {
  /* основные шрифты */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* основные цвета */
  --main-title-color: #212121;
  --main-text-color: #757575;
  --accent-colol: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;

  /* цвета логотипа */
  --logo-light-theme-color: #000000;
  --logo-dark-theme-color: #ffffff;
  /* цвета футера */
  --dark-theme-color: #ffffff;
  --dark-theme-secondary-color: rgba(255, 255, 255, 0.6);
  --dark-theme-background-color: #2f303a;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

/* стили ссылок и списков */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */
.logo {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-colol);
}
.logo-light-theme {
  color: var(--logo-light-theme-color);
}

.navigation-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-title-color);
}

.navigation-item-link:hover,
.navigation-item-link:focus,
.header-address-item-link:hover,
.header-address-item-link:focus {
  color: var(--accent-colol);
}

.header-address-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-text-color);
}

/* hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  /* временно! */
  background-color: #212121;
}

.button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--main-background-color);
  background-color: var(--accent-colol);
}

/* особенности */
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.text {
  /* font-size: 14px; */
  line-height: 24px;
}

/* о нас */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.about-us-list-item > .title {
  text-align: center;
  color: #ffffff;
  /* временно */
  background-color: #212121;
}

/* команда */
.team {
  background-color: var(--secondary-background-color);
}
.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team-list-item-position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list-item-link:hover,
.social-list-item-link:focus {
  color: var(--accent-colol);
}

/* клиенты */
.clients-list-item-link:hover,
clients-list-item-link:focus {
  color: var(--accent-colol);
}

/* футер */
.footer {
  background-color: var(--dark-theme-background-color);
}

.logo-dark-theme {
  color: var(--dark-theme-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--dark-theme-secondary-color);
}

.address-postal {
  color: var(--dark-theme-color);
}
.address-mail,
.address-tel {
  color: var(--dark-theme-secondary-color);
}

.social-join > .title {
  color: var(--dark-theme-color);
}

.sign-form > .title {
  color: var(--dark-theme-color);
}

/* ПОРТФОЛИО */
/* кнопки фильтра */
